.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}
[data-theme="dark"] .site-card-border-less-wrapper {
  background: #303030;
}

#postCard {
   margin-top: 1rem !important;
}
.ant-card-head{
  background-color: #002140 !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  color: white !important;
}
#postDivider{
  color: black !important;
}
title{
  color: black !important;
}