.namefieldContactus {
  width: 60% !important;
  height: 3.5rem;
  text-align: center;
}
#messageInput {
  width: 60%;
  height: 95%;
}

#sendBtnContact{
  height: 35%;
}
.emailfieldContactus{
  width: 61%;
  height: 95%;
  margin-right: 26%;
}