/* .main-wrap {
    width: 100%;
    height: 100%;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .1;
    background: #000;
}
.title{
    font-family: 'Pacifico';font-size:50px;
} */

#StepsHeading {
  background-color: aqua;
  margin-top: 5% !important;
  text-align: center;
  align-items: center;
  font-weight: bolder !important;
}
#youtubelink {
  align-items: center;
  margin: auto;
}

#youtubelink iframe{
    width: 100%;
    height: 100%;
}
#dropdownwrapper{
    margin-top: 5px !important;
    margin: auto;
}